NODE_ENV=development
APP_PROTOCOL=http
APP_HOST=localhost:7000
APP_PORT=7000
DB_HOST=localhost
DB_PORT=5433
DB_USER=string
DB_PASS=string
DB_NAME=string
BCRYPT_SALT=number
BCRYPT_MAX_BYTES=number
JWT_SECRET=string
ACCESS_TOKEN=number # in minutes
REFRESH_TOKEN=number # in days
MAIL_NAME=Team
NM_HOST=smtp.gmail.com
NM_PORT=465
NM_USER=email-address
NM_PASSWORD=string # create app-password from gmail security
ADMIN_EMAIL=email-address # should be valid one for email purpose
ADMIN_PASSWORD=password # one lower, capital, and numeric
